$red: #77001e;
$light-red: #d496a6;
$charcoal: #2d2d2d;
$off-white: #f6f6f6;

%sidebar-hover {
    background-color: $light-red;
    border-right: 5px solid $red;
}
%shadow {
    border-top: 1px solid $charcoal;
    border-right: 1px solid $charcoal;
}