@use 'base';

@mixin row ($align-items: center){
    display: flex;
    flex-direction: row;
    align-items: $align-items;
}
@mixin column ($align-items: center){
    display: flex;
    flex-direction: column;
    align-items: $align-items;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
}
.row {
    @include row;
    background-color: base.$off-white;
}
.column {
    @include column;
    background-color: base.$off-white;
}
header {
    width: 100%;
    @include row;
    justify-content: space-between;
    background-color: base.$off-white;
    div {
        @include row;
        color: base.$charcoal;
        i {
            margin: .75rem;
        }
        p {
            margin: .75rem;
        }
    }
}
.logo {
    width: 80px;
    height: 80px;
    background-color: base.$off-white;
    margin: 1rem 5rem;
}
.maincontent {
    @include row(stretch);
}
.sidebar {
    @include column(flex-start);
    flex-grow: 1;
    background-color: base.$off-white;
    @extend %shadow;
    :hover {
        @extend %sidebar-hover;
    }
}
.sidebar-item {
    @include row;
    background-color: base.$off-white;
    width: 100%;
    padding: 1rem;
    margin: .1rem 0;
    i {
        color: base.$charcoal;
    }
    h3 {
        margin-left: 1rem;
        color: base.$charcoal;
    }
}
.dashboard {
    @extend %shadow;
    background-color: base.$off-white;
    flex-grow: 5;
}
.top {
    @include row;
    justify-content: space-between;
    background-color: base.$off-white;
    div {
        margin: 1.5rem;
        h1 {
            margin: .5rem;
            font-size: 40px;
        }
        p {
            margin: .5rem;
        }
    }
}
button {
    margin: 1rem;
    padding: 1rem;
    background-color: base.$light-red;
    border: 1px solid base.$red;
    border-radius: 10px;
}
.left {
    flex-grow: 2;
}
.right {
    flex-grow: 1;
}
.card {
    border: 1px solid base.$red;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
}
progress {
    width: 90%;
}