@use 'base';

@mixin row ($align-items: center){
    display: flex;
    flex-direction: row;
    align-items: $align-items;
}
@mixin column ($align-items: center){
    display: flex;
    flex-direction: column;
    align-items: $align-items;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    background-color: base.$off-white;
}
.row {
    @include row;
    background-color: base.$off-white;
}
.column {
    @include column;
    background-color: base.$off-white;
}
header {
    width: 100%;
    @include row;
    justify-content: space-between;
    background-color: base.$off-white;
    div {
        @include row;
        color: base.$charcoal;
        padding-right: 1rem;
        i {
            margin: .75rem;
        }
        p {
            margin: .75rem;
        }
    }
}
.fa-school {
    background-color: base.$off-white;
    margin: 1rem 5rem;
}
.maincontent {
    @include row(stretch);
    background-color: base.$off-white;
}
.sidebar {
    height: 89vh;
    @include column(flex-start);
    flex-grow: 1;
    background-color: base.$off-white;
    @extend %shadow;
    :hover {
        @extend %sidebar-hover;
    }
}
.sidebar-item {
    @include row;
    background-color: base.$off-white;
    width: 85%;
    padding: 1rem;
    margin: .1rem 0;
    cursor: pointer;
    i {
        color: base.$charcoal;
    }
    h3 {
        margin-left: 1rem;
        color: base.$charcoal;
    }
}
.dashboard {
    @extend %shadow;
    background-color: base.$off-white;
    flex-grow: 5;
    border-right: none;
}
.top {
    @include row;
    justify-content: space-between;
    background-color: base.$off-white;
    div {
        margin: 1.5rem;
        h1 {
            margin: .5rem;
            font-size: 40px;
        }
        p {
            margin: .5rem;
        }
    }
}
button {
    margin: 1rem;
    padding: 1rem;
    font-weight: bolder;
    background-color: base.$light-red;
    border: 1px solid base.$red;
    border-radius: 10px;
    cursor: pointer;
}
.cards {
    @include row(stretch);
}
.card {
    border: 2px solid base.$red;
    border-radius: 10px;
    padding: 2rem;
    margin: .5rem 1rem;
}
.left {
    flex-grow: 2;
    align-items: stretch;
    .row {
        .card {
            width: 100%;
        }
    }
}
.right {
    flex-grow: 1;
    align-items: stretch;
    .top-card {
        flex-grow: 2;
    }
    .bottom-card {
        flex-grow: 1;
    }
}
progress {
    width: 90%;
}